@using WebUI.ViewModels.Home
@model VMHomeIndex
@{
    ViewData["Title"] = "Home Page";
}


@if (Model.EntityList != null)
{
    foreach (var entity in Model.EntityList)
    {
        <div class="alert alert-primary" role="alert">
            <div class="d-flex justify-content-between">
                <span>
                    @entity.Id - @entity.Name
                </span>
                <a class="btn btn-danger btn-sm" asp-action="DeleteEntiy" asp-route-id="@entity.Id">
                    Delete
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Type</th>
                    <th scope="col">Is Unique</th>
                    <th scope="col">Relations</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var field in entity.Fields)
                {
                    <tr>
                        <td>@field.Name</td>
                        <td>@field.FieldType.Name</td>
                        <td>@field.IsUnique</td>
                        <td>
                            @if (field.RelationsPrimary != null)
                            {
                                @foreach (var relation in field.RelationsPrimary)
                                {
                                    <span>@relation.PrimaryField.Name -> @relation.ForeignField.Name</span>
                                }
                            }
                            @if (field.RelationsForeign != null)
                            {
                                @foreach (var relation in field.RelationsForeign)
                                {
                                    <span>@relation.ForeignField.Name -> @relation.PrimaryField.Name</span>
                                }
                            }
                        </td>
                        <td>
                            @*            <form asp-controller="Home" asp-action="ShowRelationModal" method="get"> *@
                            <input type="hidden" name="id" value="@entity.Id" />
                            <button type="button" onclick="ShowRelationModal(@field.Id)" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modal-relations">
                                Show Relations
                            </button>
                            @* <form asp-controller="Home" asp-action="ShowAddRelationModal" method="get"> *@
                            <input type="hidden" name="id" value="@entity.Id" />
                            <button type="button" onclick="ShowAddRelationModal(@field.Id)" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal-add-relation">
                                Add Relation
                            </button>
                            @* </form> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


<div class="modal fade" id="modal-relations" tabindex="-1" aria-labelledby="modal-relations-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-relations-label">Show Relations On Field</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="body-modal-relations">
                @Html.Partial("Partial/_modalRelations", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-add-relation" tabindex="-1" aria-labelledby="modal-relations-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-relations-label">Add Relation To Field</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="body-modal-add-relation">
                <!-- ... -->
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function ShowAddRelationModal(id){
            $.ajax({
                type: "GET",
                url: "/Home/ShowAddRelationModal",
                data: {id: id},
                success: function(res){
                    $("#body-modal-add-relation").html(res);
                }
            })
        }

        function ShowRelationModal(id){
            $.ajax({
              type: "GET",
              url: "/Home/ShowRelationModal",
              data: {id: id},
              success: function(res){
                  $("#body-modal-relations").html(res);
              }
            })
        }
    </script>
}