@using WebUI.ViewModels.Entity
@model VMEntityIndex
@{
    Layout = null;
    bool isFirst = true;
}

<style>
    .badge{
        color:#aaa !important;
    }
</style>

@if (Model != null && Model.RelationList != null)
{
    foreach (var item in Model.RelationList)
    {
        <div class="row">
            @{
                if (isFirst)
                {
                    if ((int)ViewBag.MainId == item.PrimaryFieldId) // BOŞ MAİN FOREİGN
                    {
                        <div class="col-4" id="primary-filed"></div>
                        <div class="col-4" id="main-filed">
                            <span class="badge text-bg-primary">@item.PrimaryField.Name</span>
                        </div>
                        <div class="col-4" id="foregin-fileds">
                            <span class="badge text-bg-secondary">@item.ForeignField.Name</span>
                        </div>
                    }
                    else // PRİMARY MAİN BOŞ
                    {
                        <div class="col-4" id="primary-filed">
                            <span class="badge text-bg-warning">@item.PrimaryField.Name</span>
                        </div>
                        <div class="col-4" id="main-filed">
                            <span class="badge text-bg-primary">@item.ForeignField.Name</span>
                        </div>
                        <div class="col-4" id="foregin-fileds"></div>
                    }
                }
                else if ((int)ViewBag.MainId == item.PrimaryFieldId){ //YAZACAĞIN FOREİGN
                    <div class="col-8" id="primary-filed"></div>
                    <div class="col-4" id="foregin-fileds">
                        <span class="badge text-bg-secondary">@item.ForeignField.Name</span>
                    </div>
                }
                else if ((int)ViewBag.MainId == item.ForeignFieldId){ // YAZACAĞIN PRİMARY
                    <div class="col-4" id="primary-filed">
                        <span class="badge text-bg-warning">@item.PrimaryField.Name</span>
                    </div>
                    <div class="col-8" id="foregin-fileds"></div>
                }
            isFirst = false;
            }
        </div>
    }
}